<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tabajarinator</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="accountService.currentUser$ | async">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/avaliar" routerLinkActive="active">Avaliar os craques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculadora" routerLinkActive="active">Calculadora de times</a>
        </li>
      </ul>
    </div>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as jogador" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Bem-vindo {{jogador.usuario | titlecase}}</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item">Editar Perfil</a>        
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
      <input name="usuario" [(ngModel)]="model.usuario" class="form-control me-2" type="text" placeholder="Usuario">
      <input name="senha" [(ngModel)]="model.senha" class="form-control me-2" type="password" placeholder="Senha">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>