<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card " style="width: 18rem;">
            <h5 class="card-header " style="background: lightcoral">Não avaliado <fa-icon [icon]="faCircleX"></fa-icon></h5>
            <img src="https://photos.bigoven.com/recipe/hero/pretzels-homemade-da4b30.jpg?h=300&w=300" class="card-img-top"  width="250" height="250"> 
            <div class="card-body">
              <h5 class="card-title">Pretzel</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" >Avaliar rapidamente</li>
              <li class="list-group-item" routerLink="/avaliar/1" >Avaliação completa</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <h5 class="card-header"style="background: lightcoral">Não avaliado <fa-icon [icon]="faCircleX"></fa-icon></h5>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeACDJ34ASLLD85alo6gwNXF6PLeyJTTtxAULkUXm7Dw&s" class="card-img-top" width="250" height="250">
            <div class="card-body">
              <h5 class="card-title">Salah</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Avaliar rapidamente</li>
              <li class="list-group-item" routerLink="/avaliar/1" >Avaliação completa</li>
            </ul>
          </div>
    </div>
    <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <h5 class="card-header" style="background: lightgreen">Avaliado <fa-icon [icon]="faCheckCircle"></fa-icon></h5>
            <img src="https://api-private.atlassian.com/users/fc5aab396eb93c632624c38996113468/avatar" class="card-img-top" width="250" height="250">
            <div class="card-body">
              <h5 class="card-title">João da Silva</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Avaliar rapidamente</li>
              <li class="list-group-item" routerLink="/avaliar/1" >Avaliação completa</li>
            </ul>
          </div>
    </div>
</div>

