@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;  
  --dark-outline: #040a23;
  --deep-purple: #4B0082;
  --metallic-gold: #D4AF37;
  --light-grey: #D3D3D3;
  --charcoal-grey: #36454F;
  --lavender: #E6E6FA;
  --royal-purple: #7851A9;
  --light-gold: #F0D586;
  --lighter-gold: #ece0bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  background: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label {
  color: #000
}

@font-face {
  font-family: 'Junegull';
  src: url('../public/fonts/junegull.ttf');
}